@import url("../fonts/Greenwich/stylesheet.css");
@import url("../fonts/AktivGroteskCorp/stylesheet.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: "Greenwich", sans-serif;
	font-weight: 300;
	font-size: 12px;
	line-height: 15px;
}
/* common */
.r-flex{
	display: flex;
	justify-content: space-between;
}
a{
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #404040;
}
/* структура */
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-style: normal;
}
.top{
	flex: 1 0 auto;
	background-color: #FFF;
	padding: 0 0 30px 0;
}
.container_my{
	width: 1440px;
	margin: 0 auto;
}
footer{
	flex: 0 0 auto;
}
